<app-not-found
[visible]="!map"
notFoundMessage="Мапу не знайдено"
resetLinkText="Повернутися на головну">
</app-not-found>
<div *ngIf="map" class="container">
  <img [src]="map.imageUrl" [alt]="map.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{map.name}}
      </span>
      <span class="favorite {{map.favorite ? '' : 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating [value]="map.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="25px"
        [readonly]="true">
      </star-rating>
    </div>
    <div class="price">
      <span>{{map.price | currency : 'UAH'}}</span>
    </div>
    <button (click)="addToCart()">До кошика </button>
  </div>
</div>
