<div class="container">
  <img [src]="maps.imageUrl" [alt]="maps.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{maps.name}}
      </span>
      <span class="favorite {{maps.favorite ? '' : 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating [value]="maps.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="25px"
        [readonly]="true">
      </star-rating>
    </div>
    <div class="price">
      <span>{{maps.price | currency : 'UAH'}}</span>
    </div>
    <button>До кошика </button>
  </div>
</div>
